doctype html
html(lang='en')
  head
    title Information Visualization with D3.js
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/d3/d3.min.js') 
    script(src='/bower_components/topojson/topojson.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Information Visualization with D3.js
      div.collabpse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='history') World History
          li
            a(href='japan') Japan Population
          li
            a(href='us') US Unemployment

  body
    block content
